* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 400px;
    margin: auto;
    background-color: #fff;
}
.header_kontent {
    width: 90%;
    margin: auto;
    display: flex;
    color: #000;
}
.header_heading>b {
    color: #E5BF9B;
}
.header_heading {
    color: #000;
    padding: 20px 0px;
    width: 200px;
}
.header_heading2 {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.header_list {
    color: #000;
}
.header_item {
    padding: 10px 0px;
    list-style-type: none;
}